<!-- map -->
<div class="container">
  <div id="map-canvas" class="contact-map">></div>
</div><!-- container -->

<%= render 'shared/map' %>

<!-- main mssg -->
<section id="main-mssg">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3><span class="glyphicon glyphicon-map-marker"></span> Адреса канцеларије</h3>
          </div>
          <div class="panel-body">
            <p>Колашинских кнежева 27</p>
            <p>38228 Зубин Поток</p>
            <p>Косово и Метохија</p>
          </div>
        </div><!-- panel adress -->

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3><span class="glyphicon glyphicon-time"></span> Радно време</h3>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Дан</th>
                  <th>Радно време</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Понедељак</td>
                  <td>9:00 - 18:00</td>
                </tr>
                <tr>
                  <td>Уторак</td>
                  <td>9:00 - 18:00</td>
                </tr>
                <tr>
                  <td>Среда</td>
                  <td>9:00 - 18:00</td>
                </tr>
                <tr>
                  <td>Четвртак</td>
                  <td>9:00 - 18:00</td>
                </tr>
                <tr>
                  <td>Петак</td>
                  <td>9:00 - 18:00</td>
                </tr>
                <tr>
                  <td>Субота</td>
                  <td>9:00 - 12:00<td>
                </tr>
                <tr>
                  <td>Недеља</td>
                  <td>нерадни дан</td>
                </tr>
              </tbody>
            </table>
          </div><!-- panel-body -->
        </div><!-- panel working hours  -->

      </div><!-- col -->

      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3><span class="glyphicon glyphicon-envelope"></span> Пошаљите нам поруку</h3>
          </div>
          <div class="panel-body">
          <form role="form" class="contact-form">
            <%= form_tag send_kontakt_email_path, method: :post do %>
              <fieldset>
                <div class="form-group">
                  <%= text_field_tag :name, nil, class: 'form-control', placeholder: 'Ваше име' %>
                </div>  
                <div class="form-group">
                  <%= text_field_tag :email, nil, class: 'form-control', placeholder: 'Ваш имејл' %>
                </div>  
                <div class="form-group">
                  <%= text_area_tag :message, nil, rows: 4, class: 'form-control', placeholder: 'Порука' %>
                </div>            
                <div class="form-group">
                  <button type="submit" class="btn btn-danger">Пошаљи</button>
                </div><!-- form-group -->
              </fieldset>
            <% end %>
          </form>
          </div>
        </div><!-- panel -->
      </div>

      <% if flash[:notice] %>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= flash[:notice] %>
          </div>
        </div>
      <% end %>

    </div><!-- row -->
  </div><!-- container -->
</section><!-- main mssg -->