  <div class="jumbotron">
    <div class="container">
      <h1>Акција прикупљања помоћи!</h1>
      <p>Акција прикупљања помоћи почиње тад и тад.</p>
      <p><a class="btn btn-danger btn-lg" href="#" role="button">Сазнајте више <span class="glyphicon glyphicon-chevron-right"></span></a></p>
    </div><!-- container -->
  </div><!-- jumbotron -->
  

  <!-- main mssg -->
  <section id="main-mssg">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-3">
          <h1><a href="#" title="Informacije o nama">О нама</a></h1>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <blockquote>
            <p>Канцеларија за младе у Зубином Потоку ради са циљем да на локалном нивоу реализује смернице дате у Националној стратегији за младе Републике Србије, спроводи Локални акциони план који обухвата решења за проблеме младих на територији наше општине као и да заступа ставове младих на вишем нивоу...</p>
            <button type="button" class="btn btn-danger">Прочитајте више <span class="glyphicon glyphicon-chevron-right"></span></button>
          </blockquote>
        </div>


      </div><!-- row -->
    </div><!-- container -->
  </section><!-- main mssg -->
  
  <!-- news and fun and aside -->
  <section id="news-fun-side">
    <div class="container">
      <div class="row">

        <article class="news-fun">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">

            <h1><%= link_to "Вести", articles_path %></h1>
            <% @articles.each do |article| %>
              <div class="thumbnail">
                <div class="row">
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p class="date"><%= article.created_at %></p>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2  col-xs-2 share">
                    <a href="#" title="Podeli"><span class="glyphicon glyphicon-share"></span></a>
                  </div>
                </div><!-- row -->
                <%= link_to "#" do %>
                  <%= image_tag 'slika-5.jpg' %>
                <% end %>
                <div class="caption">
                  <h2><%= link_to article.title, article_path(article) %></h2>
                  <p><%= truncate(my_strip_tags(article.body), length: 200) { link_to ">>", article_path(article) } %></p>
                  
                </div><!-- caption -->
              </div><!-- thumbnail -->
            <% end %>
          </div><!-- col -->
        </article><!-- news -->

        <article class="projects">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">

            <h1><a href="#" title="Конкурси">Конкурси</a> | <a href="#" title="Пројекти">Пројекти</a> | <a href="#" title="Документа">Документа</a></h1>
              <div class="thumbnail">
                <div class="row">
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p class="date">12/12/2014</p>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2  col-xs-2 share">
                    <a href="#" title="Podeli"><span class="glyphicon glyphicon-share"></span></a>
                  </div>
                </div><!-- row -->
                <%= link_to "#" do %>
                  <%= image_tag 'slika-5.jpg' %>
                <% end %>
                <div class="caption">
                  <h2><a href="#">Lorem ipsum</a></h2>
                  <p>Lorem ipsum dolor sit amet, consec sicing, orem ipsum dolor sit amet, consectetur adipisicing dolor sit amet.</p>
                  <a href="#"><button type="button" class="btn btn-danger">Више <span class="glyphicon glyphicon-chevron-right"></span></button></a>
                </div><!-- caption -->
              </div><!-- thumbnail -->
              <div class="thumbnail">
                <div class="row">
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p class="date">12/12/2014</p>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2  col-xs-2 share">
                    <a href="#" title="Podeli"><span class="glyphicon glyphicon-share"></span></a>
                  </div>
                </div><!-- row -->
                <%= link_to "#" do %>
                  <%= image_tag 'slika-5.jpg' %>
                <% end %>
                <div class="caption">
                  <h2><a href="#">Lorem ipsum</a></h2>
                  <p>Lorem ipsum dolor sit amet, consec sicing, orem ipsum dolor sit amet, consectetur adipisicing dolor sit amet.</p>
                  <a href="#"><button type="button" class="btn btn-danger">Више <span class="glyphicon glyphicon-chevron-right"></span></button></a>
                </div><!-- caption -->
              </div><!-- thumbnail -->

          </div><!-- col -->
        </article><!-- projects -->

        <aside class="side">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 video">
                <div class="panel panel-default">
                  <div class="panel-heading hidden-sm">
                    <h3>Препоручујемо видео 1</h3>
                  </div>
                  <div class="panel-body">
                    <%= video_tag 'our_vineyard.mp4', width: '100%', height: '100%', poster: 'our_vineyard.jpg', controls: true %>
                  </div>
                </div><!-- panel -->      
              </div><!-- col -->
            </div><!-- row -->

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 video">
                <div class="panel panel-default">
                  <div class="panel-heading hidden-sm">
                    <h3>Препоручујемо видео 2</h3>
                  </div>
                  <div class="panel-body">
                    <%= video_tag 'our_vineyard.mp4', width: '100%', height: '100%', poster: 'our_vineyard.jpg', controls: true %>
                  </div>
                </div><!-- panel -->      
              </div><!-- col -->
            </div><!-- row -->

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 reklama">
                <div class="panel panel-default">
                  <div class="panel-heading hidden-sm">
                    <h3>Реклама 1</h3>
                  </div>
                  <div class="panel-body">
                    <p>Садржај</p>
                  </div>
                </div><!-- panel -->
              </div><!-- col -->
            </div><!-- row -->

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 reklama">
                <div class="panel panel-default">
                  <div class="panel-heading hidden-sm">
                    <h3>Реклама 2</h3>
                  </div>
                  <div class="panel-body">
                    <p>Садржај</p>
                  </div>
                </div><!-- panel -->
              </div><!-- col -->
            </div><!-- row -->

          </div><!-- col -->
        </aside><!-- side -->

      </div><!-- row -->
    </div><!-- container -->
  </section><!-- news-fun-side -->

  <!-- gallery -->
  <section id="gallery">
    <div class="container">
      <div class="row">

        <h1>Нови албуми фотографија</h1>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="thumbnail">
            <%= link_to "#", title: 'Галерија 1' do %>
              <%= image_tag 'slika-1.jpg', alt: '#', class: 'img-responsive' %>
            <% end %>
            <div class="thumbnail-caption">
              <h3>Галерија 1</h3>
              <p>Акција чишћења</p>
              <a href="#"><button type="button" class="btn btn-danger">Цео албум <span class="glyphicon glyphicon-chevron-right"></span></button></a>
            </div>
          </div>
        </div><!-- gallery 1 -->

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="thumbnail">
            <%= link_to "#", title: 'Галерија 2' do %>
              <%= image_tag 'slika-2.jpg', alt: '#', class: 'img-responsive' %>
            <% end %>
            <div class="thumbnail-caption">
              <h3>Галерија 2</h3>
              <p>Акција прикупљања помоћи</p>
              <a href="#"><button type="button" class="btn btn-danger">Цео албум <span class="glyphicon glyphicon-chevron-right"></span></button></a>
            </div>  
          </div>
        </div><!-- gallery 2 -->

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="thumbnail">
            <%= link_to "#", title: 'Галерија 3' do %>
              <%= image_tag 'slika-4.jpg', alt: '#', class: 'img-responsive' %>
            <% end %>         
            <div class="thumbnail-caption">
              <h3>Галерија 3</h3>
              <p>Роштиљ и пиво гратис</p>
              <a href="#"><button type="button" class="btn btn-danger">Цео албум <span class="glyphicon glyphicon-chevron-right"></span></button></a>
            </div>
          </div>
        </div><!-- gallery 3 -->

      </div><!-- row -->
    </div><!-- container -->
  </section><!-- gallery -->

  <section id="map">
    <div class="container">
      <div class="row">

        <div class="col-lg-8 col-md-8 col-sm-8">
          <div id="map-canvas"></div>
        </div>
        <%= render 'shared/map' %>

        <div class="col-lg-4 col-md-4 col-sm-4 location">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h1>
                <%= link_to "Где се налазимо", kontakt_path %>
              </h1>
            </div>
            <div class="panel-body">
              <p>Колашинских кнежева 27</p>
              <p>38228 Зубин Поток</p>
              <p>Косово и Метохија</p>
            </div>
          </div><!-- panel -->
        </div><!-- col -->

      </div><!-- row -->
    </div><!-- container -->
  </section><!-- map -->