<!-- call-to-action - jumbotron -->
<div class="jumbotron">
  <div class="container">
    <h1>Акција прикупљања помоћи!</h1>
    <p>Акција прикупљања помоћи почиње тад и тад.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Сазнајте више <span class="glyphicon glyphicon-chevron-right"></span></a></p>
  </div><!-- container -->
</div><!-- jumbotron -->

<!-- main mssg -->
<section id="main-mssg">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <h1>
          <%= link_to "О нама", o_nama_path %>
        </h1>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <blockquote>
          <p>Канцеларија за младе у Зубином Потоку ради са циљем да на локалном нивоу реализује смернице дате у Националној стратегији за младе Републике Србије, спроводи Локални акциони план који обухвата решења за проблеме младих на територији наше општине као и да заступа ставове младих на вишем нивоу...</p>
          <%= link_to o_nama_path, class: 'btn btn-primary' do %>
            Прочитајте више
            <span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
        </blockquote>
      </div>

    </div><!-- row -->
  </div><!-- container -->
</section><!-- main mssg -->

<!-- news and fun and aside -->
<section id="news-fun-side">
  <div class="container">
    <div class="row">
      
      <!-- news -->
      <article class="news-fun">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    			
          <% @articles.each do |article| %>
            <div class="thumbnail row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-7">
                <div class="caption">    
                  <p class="date"><%= article.created_at %></p>                
                  <h2 class="title"><%= link_to article.title, article_path(article) %></h2>
                  <p class="hidden-xs"><%= truncate(my_strip_tags(article.body), length: 200) { link_to ">>", article_path(article) } %></p>
                  <p class="news"><%= link_to "Вести", articles_path %></p>
                </div><!-- caption -->
              </div><!-- col -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-5">
                <%= link_to article_path(article), title: 'Прочитај вест' do %>
                  <%= image_tag 'slika-4.jpg' %>
                <% end %>
              </div><!-- col -->
            </div><!-- thumbnail -->
          <% end %>
        </div><!-- col -->
      </article><!-- news -->
      
      <!-- projects -->
      <article class="projekti-dokumenta">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 projects">
          
          <div class="thumbnail row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-7">
              <div class="caption">
                <p class="date">12/12/2014</p>
                <h2 class="title"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                <p class="hidden-xs">Lorem ipsum dolor sit amet, consec sicing, orem ipsum dolor sit amet, consectetur adipisicing dolor sit amet.</p>
                <p class="news">Пројекти</p>
              </div><!-- caption -->
            </div><!-- col -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-5">
              <%= link_to "#" do %>
                <%= image_tag 'slika-5.jpg' %>
              <% end %>
            </div><!-- col -->
          </div><!-- thumbnail -->
            
            <div class="thumbnail row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-7">
                <div class="caption">
                  <p class="date">12/12/2014</p>
                  <h2 class="title"><a href="#">Lorem ipsum onsec sicing, orem!</a></h2>
                  <p class="hidden-xs">Lorem ipsum dolor sit amet, consec sicing, orem ipsum dolor sit amet, consectetur adipisicing dolor sit amet.</p>
                  <p class="news">Пројекти</p>
                </div><!-- caption -->
              </div><!-- col -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-5">
                <%= link_to "#" do %>
                  <%= image_tag 'slika-5.jpg' %>
                <% end %>
              </div><!-- col -->
            </div><!-- thumbnail -->

        </div><!-- col -->
      </article><!-- projects -->
      
      <!-- side -->
      <aside>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 side">
          
          <!-- video -->
          <div class="col-sm-1 visible-sm"></div><!-- samo za offset u sm velicini -->
            <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 video">
              <h3>Препоручујемо видео</h3>
              <%= video_tag 'avantura.mp4', width: '100%', height: '100%', poster: 'poster.jpg', controls: true %>
            </div><!-- col -->
          <div class="col-sm-1 visible-sm"></div><!-- samo za offset u sm velicini -->
          
          <!-- raska-banner -->
          <div class="col-sm-2 visible-sm"></div><!-- samo za offset u sm velicini -->
            <div class="col-lg-12 col-md-12 col-sm-4 col-xs-6 raska">
              <%= link_to "http://kzm.raska.rs", title: 'Канцеларија за младе Рашка', target: '_blank' do %>
                <%= image_tag 'kzm-raska.png', class: 'img-responsive' %>
              <% end %>
            </div><!-- col -->

          <!-- acdc-banner -->
          <div class="col-lg-12 col-md-12 col-sm-4 col-xs-6 acdc">
            <%= link_to "http://acdc-kosovo.org/index.php", target: '_blank', title: 'ACDC-Kosovo' do %>
              <%= image_tag 'acdc-logo.png', class: 'img-responsive' %>
            <% end %>
          </div><!-- col -->
          <div class="col-sm-2 visible-sm"></div><!-- samo za offset u sm velicini -->
          
          <!-- facebook-feed -->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="facebook-feed">
                <div class="fb-page" data-href="https://www.facebook.com/pages/Mladi-Zubin-Potok/1600602096848393?fref=ts" data-small-header="true" data-show-facepile="true" data-show-posts="true">
                  <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/pages/Mladi-Zubin-Potok/1600602096848393?fref=ts"><a href="https://www.facebook.com/pages/Mladi-Zubin-Potok/1600602096848393?fref=ts">Mladi Zubin Potok</a></blockquote>
                  </div><!-- fb-xfbml-parse-ignore -->
                </div><!-- fb-page -->
              </div><!-- facebook-feed -->
            </div><!-- col -->
          </div><!-- row -->
          
          <!-- twitter-feed -->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="twitter-feed">
                <a class="twitter-timeline" href="https://twitter.com/mladizubinpotok" data-widget-id="616178414899343360" data-chrome="noborders">Tweets by @mladizubinpotok</a>
              </div><!-- twitter-feed -->
            </div><!-- col -->
          </div><!-- row -->

        </div><!-- col -->
      </aside><!-- side -->
    
    </div><!-- row -->
  </div><!-- container -->
</section><!-- news-fun-side -->

<!-- gallery -->
<section id="gallery">
  <div class="container">
    <div class="row">
      <h1>Издвојене приче и фотографије</h1>

      <!-- gallery 1 -->
      <%= link_to '#', title: 'Увећај приказ', data: {toggle: 'modal', target: '#gallery-1-modal'} do %>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <div class="thumbnail">
          <%= image_tag 'basket.jpg', alt: 'Баскет', class: 'img-responsive' %>
          <div class="thumbnail-caption">
            <h3>Баскет</h3>
            <p class="hidden-xs">Учесници турнира у баскету</p>
          </div>
        </div>
      </div><!-- col -->
      <% end %><!-- gallery 1 -->

      <!-- Modal za Gallery 1 -->
      <div class="modal fade" id="gallery-1-modal" tabindex="-1" role="dialog" aria-labelledby="GalleryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
              <h3 class="modal-title" id="myModalLabel">Турнир у уличном баскету</h3>
            </div>
            <div class="modal-body">
              <p>Rem ipsum dolor sit amet, con, elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amet, conelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amRem ipsum dolor sit amet, con, elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amet, conelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <%= image_tag 'basket.jpg', alt: 'Баскет', class: 'img-responsive' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Затвори</button>
            </div>
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->

      <!-- gallery 2 -->
      <%= link_to '#', title: 'Увећај приказ', data: {toggle: 'modal', target: '#gallery-2-modal'} do %>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <div class="thumbnail">
          <%= image_tag 'trofeji.jpg', alt: '#', class: 'img-responsive' %>
          <div class="thumbnail-caption">
            <h3>Пехари</h3>
            <p class="hidden-xs">Најбољима су уручени трофеји</p>
          </div>  
        </div>
      </div><!-- col -->
      <% end %><!-- gallery 2 -->

      <!-- Modal za Gallery 2 -->
      <div class="modal fade" id="gallery-2-modal" tabindex="-1" role="dialog" aria-labelledby="GalleryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
              <h3 class="modal-title" id="myModalLabel">Пехари за победнике</h3>
            </div>
            <div class="modal-body">
              <p>Rem ipsum dolor sit amet, con, elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amet, conelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amRem ipsum dolor sit amet, con, elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amet, conelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <%= image_tag 'trofeji.jpg', alt: 'Пехари', class: 'img-responsive' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Затвори</button>
            </div>
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->
      
      <!-- gallery 3 -->
      <%= link_to '#', title: 'Увећај приказ', data: {toggle: 'modal', target: '#gallery-3-modal'} do %>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <div class="thumbnail">
          <%= image_tag 'medalje.jpg', alt: 'Медаље', class: 'img-responsive' %>
          <div class="thumbnail-caption">
            <h3>Медаље</h3>
            <p class="hidden-xs">Медаље за златне момке</p>
          </div>  
        </div>
      </div><!-- col -->
      <% end %><!-- gallery 3 -->

      <!-- Modal za Gallery 3 -->
      <div class="modal fade" id="gallery-3-modal" tabindex="-1" role="dialog" aria-labelledby="GalleryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
              <h3 class="modal-title" id="myModalLabel">Медаље за најбоље</h3>
            </div>
            <div class="modal-body">
              <p>Rem ipsum dolor sit amet, con, elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amet, conelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amRem ipsum dolor sit amet, con, elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amet, conelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <%= image_tag 'medalje.jpg', alt: 'Медаље', class: 'img-responsive' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Затвори</button>
            </div>
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->    
      
      <!-- gallery 4 -->
      <%= link_to '#', title: 'Увећај приказ', data: {toggle: 'modal', target: '#gallery-4-modal'} do %>
      <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-6">
        <div class="thumbnail">
          <%= image_tag 'sastanak.jpg', alt: 'Састанак организације', class: 'img-responsive' %>
          <div class="thumbnail-caption">
            <h3>Састанак</h3>
            <p class="hidden-xs">Састанак за будућност младих</p>
          </div>  
        </div>
      </div><!-- col -->
      <% end %><!-- gallery 4 -->

      <!-- Modal za Gallery 4 -->
      <div class="modal fade" id="gallery-4-modal" tabindex="-1" role="dialog" aria-labelledby="GalleryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
              <h3 class="modal-title" id="myModalLabel">Састанак за будућност младих</h3>
            </div>
            <div class="modal-body">
              <p>Rem ipsum dolor sit amet, con, elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amet, conelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amRem ipsum dolor sit amet, con, elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amet, conelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <%= image_tag 'sastanak.jpg', alt: 'Састанак организације', class: 'img-responsive' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Затвори</button>
            </div>
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->        

      <!-- gallery 5 -->
      <%= link_to '#', title: 'Увећај приказ', data: {toggle: 'modal', target: '#gallery-5-modal'} do %>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <div class="thumbnail">
          <%= image_tag 'tvoj-zivot.jpg', alt: 'Твој живот', class: 'img-responsive' %>
          <div class="thumbnail-caption">
            <h3>Твој живот</h3>
            <p class="hidden-xs">Твој живот - не знам даље</p>
          </div>  
        </div>
      </div><!-- col -->
      <% end %><!-- gallery 5 -->

      <!-- Modal za Gallery 5 -->
      <div class="modal fade" id="gallery-5-modal" tabindex="-1" role="dialog" aria-labelledby="GalleryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
              <h3 class="modal-title" id="myModalLabel">Твој живот</h3>
            </div>
            <div class="modal-body">
              <p>Rem ipsum dolor sit amet, con, elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amet, conelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amRem ipsum dolor sit amet, con, elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rem ipsum dolor sit amet, conelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <%= image_tag 'tvoj-zivot.jpg', alt: 'Твој живот', class: 'img-responsive' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Затвори</button>
            </div>
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->   
      
      </div><!-- row -->
  </div><!-- container -->
</section><!-- gallery -->

<section id="map">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div id="map-canvas"></div>
      </div>
      <%= render 'shared/map' %>
      <div class="col-lg-4 col-md-4 col-sm-12 location">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1>
              <%= link_to "Где се налазимо", kontakt_path %>
            </h1>
          </div>
          <div class="panel-body">
            <p>Колашинских кнежева 27</p>
            <p>38228 Зубин Поток</p>
            <p>Косово и Метохија</p>
          </div>
        </div><!-- panel -->
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- map -->