<section id="about-page">
  <div class="container">
    <div class="row">

      <article class="about-us">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <p class="lead">Канцеларија за младе у Зубином Потоку</p>
          <p>ради са циљем да на локалном нивоу реализује смернице дате у Националној стратегији за младе Републике Србије, спроводи Локални акциони план који обухвата решења за проблеме младих на територији наше општине као и да заступа ставове младих на вишем нивоу.</p>
          <blockquote>
          <p>Разлог за покретање рада канцеларија за младе су здрави, срећни и задовољни млади људи у локалној заједници, који су главна покретачка снага развоја сваког друштва.</p>
          </blockquote>
          <p>У свом раду, Канцеларија ће да сарађује са свим локалним институцијама и организацијама које се на нивоу Зубиног Потока баве младима, било да је реч о здравственим, социјалним или културним институцијама. Поуздане партнере је пронашла у невладином сектору, бројним омладинским организацијама и удружењима грађана који својим пројектима покривају интересовања, здравље, едукацију, забаву, креативност или слободно време младих.</p>
          <p>Шта млади добијају отварањем Канцеларије за младе? Партнера у њиховим настојањима да се креативно, слободно развијају и осмишљавају програме и активности за младе, добијају разумевање и подршку, и лакши приступ информацијама од значаја за њих.</p>

          <p class="lead">Области деловања Канцеларије за младе у Зубином Потоку:</p>
            <ul>
              <li>организовани приступ проблемима младих</li>
              <li>афирмисање рада са младима</li>
              <li>подршка младима у сарадњи са:
                <ul type="a">
                  <li>образовним и културним институцијама</li>
                  <li>Националном службом запошљавања</li>
                  <li>организационим јединицама Локалне самоуправе</li>
                  <li>невладиним организацијама</li>
                </ul>
              </li>
              <li>активно укључивање младих у друштвене токове</li>
              <li>информисање младих</li>
              <li>информисање других о младима</li>
              <li>неформално образовање младих</li>
              <li>логистичка подршка реализацији пројеката младих</li>
              <li>повезивање младих у њиховим активностима, међусобно и са другима</li>
              <li>афирмација волонтерског рада младих</li>
              <li>креирање модела волонтерских радних кампова</li>
              <li>равноправан положај младих у друштву</li>
              <li>подстицање стваралаштва младих</li>
              <li>вредновање достигнућа младих</li>
              <li>квалитетно организовање слободног времена</li>
              <li>унапређење безбедности младих</li>
              <li>припрема акционог плана политике за младе у Збином Потоку</li>
              <li>координација канцеларија за младе на целом Косову и Метохији</li>
              <li>други послови у складу са Националном стратегијом за младе Републике Србије</li>
            </ul>

        </div><!-- col -->
      </article><!-- about-us -->

    <!-- side -->
        <aside>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 side">
            
            <div class="col-sm-1 visible-sm"></div><!-- samo za offset u sm velicini -->
              <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 video">
                <h3>Препоручујемо видео</h3>
                <%= video_tag 'avantura.mp4', width: '100%', height: '100%', poster: 'poster.jpg', controls: true %>
              </div><!-- col -->
            <div class="col-sm-1 visible-sm"></div><!-- samo za offset u sm velicini -->
              
            <div class="col-sm-2 visible-sm"></div><!-- samo za offset u sm velicini -->
              <div class="col-lg-12 col-md-12 col-sm-4 col-xs-6 raska">
                <%= link_to "http://kzm.raska.rs", title: 'Канцеларија за младе Рашка', target: '_blank' do %>
                  <%= image_tag 'kzm-raska.png', class: 'img-responsive' %>
                <% end %>
              </div><!-- col -->

              <div class="col-lg-12 col-md-12 col-sm-4 col-xs-6 acdc">
                <%= link_to "http://acdc-kosovo.org/index.php", target: '_blank', title: 'ACDC-Kosovo' do %>
                  <%= image_tag 'acdc-logo.png', class: 'img-responsive' %>
                <% end %>
              </div><!-- col -->
              <div class="col-sm-2 visible-sm"></div><!-- samo za offset u sm velicini -->

          </div><!-- col -->
        </aside><!-- side -->

    </div><!-- row -->
  </div><!-- container -->
</section><!-- about-page -->