<footer id="footer">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
        <article class="sponzors">
          <h3><span class="glyphicon glyphicon-ok"></span> &nbsp; Партнери</h3>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <%= link_to "https://www.facebook.com/udruzenjemladih.putokaz", target: '_blank', title: 'Удружење младих Путоказ' do %>
                  <%= image_tag 'putokaz-logo.png', class: 'img-responsive' %>
                <% end %>
              </div><!-- col -->
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <%= link_to "http://www.ngoaktiv.org/", target: '_blank', title: 'НВО Актив' do %>
                  <%= image_tag 'aktiv-logo.png', class: 'img-responsive' %>
                <% end %>
              </div><!-- col -->
              </div><!-- row -->
        </article><!-- sponzors -->
      </div><!-- col -->

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <article class="contact">
          <h3><%= link_to kontakt_path do %>
                  <span class="glyphicon glyphicon-phone-alt"></span>
                  Контакт
                <% end %>
          </h3>
          <ul>
            <li>+38164 9683134</li>
            <li><a href="mailto:mladizubinpotok@gmail.com">mladizubinpotok@gmail.com</a></li>
          </ul>
        </article><!-- contact -->
      </div><!-- col -->

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <article class="follow">
          <h3><span class="glyphicon glyphicon-thumbs-up"></span> &nbsp;Пратите нас на друштвеним мрежама</h3>
          <%= link_to "https://www.facebook.com/pages/Mladi-Zubin-Potok/1600602096848393", title: 'Пратите нас на Фејбуку', target: '_blank' do %>
            <%= image_tag 'facebook.png', width: 65, height: 65 %>
          <% end %>
           <%= link_to "https://twitter.com/mladizubinpotok", title: 'Пратите нас на Твитеру', target: '_blank' do %>
            <%= image_tag 'twitter.png', width: 65, height: 65 %>
          <% end %>
        </article><!-- follow -->
      </div><!-- col -->
    </div><!-- row -->

    <div class="row">
      <p>© 2015 Канцеларија за младе | Сајт израдили <a href="https://www.linkedin.com/in/brankobozovic" title="Бранко Божовић" target="_blank">Бранко</a> и <a href="https://www.linkedin.com/in/biske" title="Иван Бишевац" target="_blank">Иван</a></p>   
    </div><!-- row -->

    <a href="#page-header" title="Повратак на врх странице" class="to-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>

  </div><!-- container -->
</footer>