<footer id="footer">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
        <article class="sponzors">
          <h3><span class="glyphicon glyphicon-ok"></span> &nbsp; Спонзори и донације</h3>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <% link_to "#", title: 'Ivan Bisevac' do %>
                  <%= image_tag 'eee.png' %>
                <% end %>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <% link_to "#", title: 'Branko Bozovic' do %>
                  <%= image_tag 'bbb.png' %>
                <% end %>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <% link_to "#", title: 'Ivan Bisevac' do %>
                  <%= image_tag 'eee.png' %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4">
                <% link_to "#", title: 'Branko Bozovic' do %>
                  <%= image_tag 'bbb.png' %>
                <% end %>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4">
                <% link_to "#", title: 'Ivan Bisevac' do %>
                  <%= image_tag 'eee.png' %>
                <% end %>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4">
                <% link_to "#", title: 'Branko Bozovic' do %>
                  <%= image_tag 'bbb.png' %>
                <% end %>
              </div>
            </div>
        </article><!-- sponzors -->
      </div><!-- col -->

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <article class="contact">
          <h3><a href="#" title="Контакт подаци"><span class="glyphicon glyphicon-phone-alt"></span> &nbsp; Контакт</a></h3>
          <ul>
            <li><b>Тел:</b> 028/028-028;</li>
            <li><b>Моб:</b> 064/064-064;</li>
            <li><b>e-mail:</b> pera@kojot.com</li>
          </ul>
        </article><!-- contact -->
      </div><!-- col -->

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <article class="follow">
          <h3><span class="glyphicon glyphicon-thumbs-up"></span> &nbsp; Пронађите нас</h3>
          <% link_to "#", title: 'Pratite nas na fejsbuku', target: '_blank' do %>
            <%= image_tag 'face.png', width: 207, height: 65 %>
          <% end %>
        </article><!-- follow -->
      </div><!-- col -->
    </div><!-- row -->

    <div class="row">
      <p>Сајт израдио Бранко Божовић &nbsp;|&nbsp; branko028@yahoo.com</p>
    </div><!-- row -->

  </div><!-- container -->
</footer>