<footer id="footer">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
        <article class="sponzors">
          <h3><span class="glyphicon glyphicon-ok"></span> &nbsp; Спонзори и донације</h3>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <%= link_to "#", title: 'Ivan Bisevac' do %>
                  <%= image_tag 'eee.png' %>
                <% end %>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <%= link_to "#", title: 'Branko Bozovic' do %>
                  <%= image_tag 'bbb.png' %>
                <% end %>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <%= link_to "#", title: 'Ivan Bisevac' do %>
                  <%= image_tag 'eee.png' %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4">
                <%= link_to "#", title: 'Branko Bozovic' do %>
                  <%= image_tag 'bbb.png' %>
                <% end %>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4">
                <%= link_to "#", title: 'Ivan Bisevac' do %>
                  <%= image_tag 'eee.png' %>
                <% end %>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4">
                <%= link_to "#", title: 'Branko Bozovic' do %>
                  <%= image_tag 'bbb.png' %>
                <% end %>
              </div>
            </div>
        </article><!-- sponzors -->
      </div><!-- col -->

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <article class="contact">
          <h3><a href="#" title="Контакт подаци"><span class="glyphicon glyphicon-phone-alt"></span> &nbsp; Контакт</a></h3>
          <ul>
            <li><b>Тел:</b> +38164 9683134</li>
            <li><a href="mailto:mladizubinpotok@gmail.com">mladizubinpotok@gmail.com</a></li>
          </ul>
        </article><!-- contact -->
      </div><!-- col -->

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <article class="follow">
          <h3><span class="glyphicon glyphicon-thumbs-up"></span> &nbsp;Пратите нас на друштвеним мрежама</h3>
          <%= link_to "#", title: 'Pratite nas na fejsbuku', target: '_blank' do %>
            <%= image_tag 'facebook.png', width: 65, height: 65 %>
          <% end %>
           <%= link_to "https://twitter.com/mladizubinpotok", title: 'Pratite nas na fejsbuku', target: '_blank' do %>
            <%= image_tag 'twitter.png', width: 65, height: 65 %>
          <% end %>
        </article><!-- follow -->
      </div><!-- col -->
    </div><!-- row -->

    <div class="row">
      <p>© 2015 Канцеларија за младе | Сајт израдили <a href="https://www.linkedin.com/in/brankobozovic" title="Бранко Божовић" target="_blank">Бранко</a> и <a href="https://www.linkedin.com/in/biske" title="Иван Бишевац" target="_blank">Иван</a></p>   
    </div><!-- row -->

  </div><!-- container -->
</footer>