<header id="page-header">
  
  <article class="logo">
    <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <%= link_to "#", title: 'Naslovna strana' do %>
          <%= image_tag 'logo.png', alt: 'Logo kancelarije' %>
        <% end %>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
        <h1>Млади Зубин Поток</h1>
      </div>
    </div><!-- row -->
      </div><!-- container -->
  </article>
    
  <!-- navigation -->
  <div class="menu">
    <div class="container">
      <div class="row">

        <div role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
              <span class="sr-only">Toggle navigation</span>
              <span><b>МЕНИ</b></span>
            </button>
          </div><!-- navbar-header -->

          <div class="collapse navbar-collapse" id="collapse">
            <ul class="nav nav-justified">
              <li>
              <%= link_to root_path do %>
                <span class="glyphicon glyphicon-home hidden-md hidden-sm"></span><span class="sr-only">(current)</span>
                Насловна
              <% end %>
              </li>
              <li>
              <%= link_to o_nama_path do %>
                <span class="glyphicon glyphicon-user hidden-md hidden-sm"></span>
                О нама
              <% end %>
              </li>
              <li>
              <%= link_to articles_path do %>
                <span class="glyphicon glyphicon-info-sign hidden-md hidden-sm"></span>
                Вести
              <% end %>
              <!-- <li><a href="#" title="Zanimljivosti"><span class="glyphicon glyphicon-play-circle hidden-md hidden-sm"></span> Занимљивости</a></li>
              <li><a href="#" title="Konkursi"><span class="glyphicon glyphicon-pencil hidden-md hidden-sm"></span> Конкурси</a></li>
              <li><a href="#" title="Projekti"><span class="glyphicon glyphicon-folder-open hidden-md hidden-sm"></span> Пројекти</a></li>
              <li><a href="#" title="Dokumenta"><span class="glyphicon glyphicon-file hidden-md hidden-sm"></span> Документа</a></li> -->
              <li><a href="#" title="Galerija fotografija i videa"><span class="glyphicon glyphicon-picture hidden-md hidden-sm"></span> Галерија</a></li>
              <li>
                <%= link_to kontakt_path do %>
                  <span class="glyphicon glyphicon-phone hidden-md hidden-sm"></span>
                  Контакт
                <% end %>
              </li>
            </ul>
          </div>
        </div><!-- navigation -->
        
      </div><!-- row -->
    </div><!-- container -->
    </div><!-- menu -->
  
</header><!-- header