<!DOCTYPE html>
<html>
  <head>
    <title>Kancelarija za mlade Zubin Potok</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <%= javascript_include_tag 'respond' %>
    <![endif]-->
  </head>
  <body>
    <%= yield %>
  </body>
</html>